html,
body {
    height: 100vh;
}

.nav {
    height: 6vh;
    background-color: #0c4590;
}

.title-text {
    width: 100%;
    text-align: center;
    margin: 3px 0;
}

#terminal-body {
    white-space: pre-wrap;
    max-height: 42em;
    overflow: auto;
}

.foot {
    height: 7vh;
}

.main-content,
.editor-content {
    height: 87vh;
}

.inline-button {
    display: none;
}

#editor {
    height: 100%;
}

.introjs-helperNumberLayer {
    display: none;
}

#next-button {
    background-color: pink;
    border: none;
}

#close-button {
    background-color: deepskyblue;
    border: none;
}

#answer-true,
#answer-false {
    visibility: hidden;
    min-width: 500px;
    margin-left: -250px;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 20px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#answer-true {
    background-color: deeppink;
    color: darkred;
}

#answer-false {
    background-color: skyblue;
    color: darkblue;
}

#answer-true.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    /*        , fadeout 0.5s 2.5s;*/
    animation: fadein 0.5s;
    /*        , fadeout 0.5s 2.5s;*/
}

#answer-false.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
    animation: fadein 0.5s, fadeout 0.5s 5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}


/* .introjs-tooltip {
    background-color: rgba(000, 0, 0, 0.5);
    color: #fff;
} */

.introjs-button,
.introjs-button:hover,
.introjs-button:focus,
.introjs-button:active,
.introjs-disabled,
.introjs-disabled:focus,
.introjs-disabled:hover {
    outline: none;
    background-image: none;
    background-color: transparent;
    /* color: #fff; */
    border: 1px solid transparent;
    border-radius: 50px;
    box-shadow: none;
    border-shadow: none;
    text-shadow: none;
}

.introjs-button:hover,
.introjs-button:focus,
.introjs-button:active {
    border: 1px solid #fff
}

.introjs-disabled,
.introjs-disabled:focus,
.introjs-disabled:hover {
    color: #ccc;
    border: 1px solid transparent;
}

.introjs-arrow {
    border: 10px solid #fff;
}

.introjs-arrow.top,
.introjs-arrow.top-middle,
.introjs-arrow.top-right {
    /* border-color: transparent transparent rgba(000, 0, 0, 0.5); */
    top: -20px;
    left: 20px;
}

.introjs-arrow.bottom,
.introjs-arrow.bottom-middle,
.introjs-arrow.bottom-right {
    border-color: rgba(000, 0, 0, 0.5) transparent transparent;
    bottom: -20px;
    left: 20px;
}

.introjs-arrow.left,
.introjs-arrow.right {
    top: 20px;
}

.introjs-arrow.left-bottom,
.introjs-arrow.right-bottom {
    bottom: 20px;
}

.introjs-arrow.left,
.introjs-arrow.left-bottom {
    left: -20px;
    border-color: transparent rgba(000, 0, 0, 0.5) transparent transparent;
}

.introjs-arrow.right,
.introjs-arrow.right-bottom {
    right: -20px;
    border-color: transparent transparent transparent rgba(000, 0, 0, 0.5);
}


.introjs-tooltip {
    min-width: initial;
    max-width: initial;
    min-width: auto;
    max-width: auto;
    width: 18vw;
}
