<!DOCTYPE html>

<html>

<head>
    <title>Editor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Load bootstrap4 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- intro.js
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.1.0/intro.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.1.0/introjs.min.css" rel="stylesheet" type="text/css"> -->

    <!-- modaal -->
    <link rel="stylesheet" href="../assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css">

</head>

<body>
<header class="header">
    <div class="header__logo">
        <img class="header__logo-img" src="https://cdn130.picsart.com/266833272018212.png?r1024x1024" alt="">
        <h1 class="header__logo-txt">Esegate</h1>
    </div>
    <h4 id="q-title" class="header__ttl">{{ .question.Title }}</h4>
    <div class="header-menu">
        <img class="header-menu__notification" src="../assets/img/bell-light.svg" alt="">
        <div class="header-menu__user">
            <img class="header-menu__user-icon" src="https://i.pinimg.com/originals/0d/84/57/0d8457dcfcb46bedae16140eab9f0592.jpg" alt="">
            <div class="header-menu__user-name">Issue.txt</div>
        </div>
    </div>
</header>

<!-- トースト -->
<div class="alert alert__none">
    <div class="alert__content" role="alert">
        <img class="alert__content-img" src="../assets/img/close.svg" alt="">
        <h1 class="alert__content-ttl">Oops!</h1>
        <p class="alert__content-desc">サーバーとの通信に失敗しました。</p>
        <button class="close btn" type="button" data-dismiss="alert" aria-label="閉じる">
            <span aria-hidden="true">閉じる</span>
        </button>
    </div>
</div>


<div class="container">
    <div class="instruction" data-intro="このエリアに問題文が表示されます。" data-step='1'>
        <h1 class="instruction__ttl">手順</h1>
        <p class="instruction__content" id="question-body">
            {{ .question.Body }}
        </p>
    </div>
    <div id="editor" class="border" data-position="right" data-intro="こちらにコードを入力していきましょう。" data-step='2'><?php&#010;&#010;?></div>
    <div class="terminal" data-intro="こちらにコードの実行結果が表示されます。" data-step='4'>
        <div class="terminal__head">
            <i class="fa">コンソール</i>
        </div>
        <pre id="terminal-body" class="terminal__body"></pre>
    </div>
</div>


<footer class="container-fluid">
    <nav class="navbar bg-secondary fixed-bottom foot">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" data-intro=分からない時は、「ヒント」ボタンをクリックすると銀とが表示されます。 data-step='5' data-position="top">ヒント</button>
        <button type="button" class="btn btn-info" onclick="suspend()" data-intro="「中断」ボタンを押すと、再開した際、中断した問題から開始されます。" data-step='6' data-position="top">中断する</button>
        <button type="button" class="btn btn-primary" onclick="runReset()">リセット</button>
        <button type="button" class="btn btn-primary" onclick="runProgram()">実行</button>
        <button type="button" class="btn btn-primary" onclick="postProgram()" data-intro="このボタンを押すと右上のコンソール欄に結果が表示されます。" data-step='3' data-position="top">採点<small> (Ctrl+Enter)</small></button>
        <button class="inline inline-button"></button>
    </nav>
</footer>



<div id="answer-true">
    <h5 class="modal-title" id="exampleModalLabel">LGTM</h5>
    <p class="text-center">ご名答</p>
    <img src="https://news.walkerplus.com/article/132980/742157_615.jpg" class="my-3" width="198" height="255">
    <div>
        <a id="next-button" class="btn btn-info col-8 center-block" onclick="getNextQuestion()">次の問題へ</a>
    </div>
</div>


<div id="answer-false">
    <h5 class="modal-title" id="exampleModalLabel">Incorrect...☹</h5>
    <p id="key-message" class="text-center"></p>
    <img src="https://scontent-nrt1-1.cdninstagram.com/vp/7dd7e0341ca3ca58b02d3044875a2311/5C4DA39A/t51.2885-15/e35/18095742_821680507987967_664145224070594560_n.jpg" class="my-3" width="198" height="198">
</div>

<!-- モーダルの設定 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ヒント</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="hint">
                    {{ .question.Hint }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>


<!-- We will put our React component inside this div. -->

<!-- Load ace editor -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ext-language_tools.js"></script>

<script src="../assets/js/script.js"></script>
<script>
    var qNum = {{ .question.Id }}
    if (qNum === 1) {
        introJs().setOptions({
            'nextLabel': '次へ &rarr;',
            'prevLabel': '&larr; 戻る',
            'skipLabel': '閉じる',
            'doneLabel': '完了',
            'hidePrev': true,
            'hideNext': true,
            'disableInteraction': true,
            'exitOnEsc': false,
            'exitOnOverlayClick': false
        }).start().oncomplete(function() {
            focusEditor();
        }).onexit(function() {
            focusEditor();
        });
    }



    function runProgram() {
        $.ajax({
            type: 'POST',
            url: '/run',
            data: {
                data: editor.getValue(),
            },
            success: function(data) {
                $('#terminal-body').text(data["output"]);
            }
        })
    }

    function postProgram() {
        var qNum = {{ .question.Id }}
        $.ajax({
            type: 'POST',
            url: '/',
            data: {
                data: editor.getValue(),
                qNum: qNum,
            },
            success: function(data) {
                $('#terminal-body').text(data["output"]);
                if (data["result"]) {
                    showLGTM()
                    console.log("your program is right!");
                } else { //"output": *(*string)(unsafe.Pointer(&output)),
                    $('#key-message').text(data["message"]);

                    showPTAL();
                    console.log("your program is wrong!");

                }
            }
        })
    }

    function getNextQuestion() {
        document.getElementById("answer-false").classList.remove("show");
        document.getElementById("answer-true").classList.remove("show");

        var qNum = {{ .question.Id }}
        var endpoint = "/question/" + (++qNum);
        // var endpoint = "/question?qNum=" + (++num);
        $('#next-button').attr("href", endpoint);
    }

</script>

<!-- for bootstrap4 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
